:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --background-color-main: #162831;
    --background-Btn-blue:#018ABE;
    --color-overlay: 250, 250, 250;

    //border--radius
    --border-radius-Btn:3px;
    --border-radius-img:10px;
}
